<br>
<div class="container">

  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">

        <a class="navbar-brand" href="#">
          <img src="../../../assets/images/logo.jpeg" alt="" width="50" height="50" class="d-inline-block align-text-top">
          <img src="../../../assets/images/titulo.jpeg" alt="" width="250" height="50" class="d-inline-block align-text-top">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/enfermeros/nuevo">Enfermero</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/adultoJoven/insertar">Paciente</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/servicios/nuevo">Servicios</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/anuncios/nuevo">Anuncios</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="intereses/nuevo">Interés</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="comentarios/nuevo">Comentarios</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="distrito/nuevo">Distrito</a>
            </li>
          </ul>
          <form class="d-flex">
          </form>
        </div>
      </div>
    </nav>

<div class="container">

  <h2>Rgistrar Enfermero</h2>

  <mat-form-field class="example-full-width">
    <mat-label>Id</mat-label>
    <input matInput placeholder="IdEnfermero" [(ngModel)]="enfermero.idEnfermero">
  </mat-form-field>

  <br>

  <mat-form-field class="example-full-width">
    <mat-label>Nombre</mat-label>
    <input matInput required placeholder="nombre" [(ngModel)]="enfermero.nameEnfermero">
  </mat-form-field>

  <br>
  <mat-form-field class="example-full-width">
    <mat-label>DNI</mat-label>
    <input matInput required placeholder="dni" [(ngModel)]="enfermero.dniEnfermero">
  </mat-form-field>

  <br>
  <mat-form-field class="example-full-width">
    <mat-label>Edad</mat-label>
    <input matInput required placeholder="edad" [(ngModel)]="enfermero.edadEnfermero">
  </mat-form-field>

  <br>
  <mat-form-field class="example-full-width">
    <mat-label>Numero</mat-label>
    <input matInput required placeholder="numero" [(ngModel)]="enfermero.numEnfermero">
  </mat-form-field>

  <br>
  <mat-form-field class="example-full-width">
    <mat-label>Email</mat-label>
    <input type="email" matInput required placeholder="email" [(ngModel)]="enfermero.emailEnfermero">
  </mat-form-field>

  <br>
  <mat-form-field class="example-full-width">
    <mat-label>CIP</mat-label>
    <input matInput required placeholder="cip" [(ngModel)]="enfermero.codEnfermero">
  </mat-form-field>

  <br>
  <button mat-raised-button color="primary" (click)="aceptar()">Aceptar</button>
  <button mat-raised-button color="warn" routerLink="/enfermeros">Cancelar</button>
  <p>{{mensaje}}</p>

</div>

